*{
    box-sizing: border-box;
}

.list-view {

    width: 100%;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &_search{  
        width: 100%;
        max-width: 1200px;
        padding: 20px;
        border: 2px solid rgb(239, 238, 238);
        border-radius: 7px;
        display: flex;
        justify-content: flex-end;
    }

    &_container {
        padding: 20px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}