.description-container {
    width: 100%;
    background-color: lightblue;
    .product-brand {
        text-transform: uppercase;
    }
    .product-model {
        margin: 20px;
    }
    .description-info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        .info_item {
            width: 100%;
            margin: 5px;
        }
    }

    .description-price {
        text-align: right;
        font-size: 28px;
    }
}