.actions-container {
    width: 100%;
    background-color: burlywood;
    height: 90px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        input{
            background-color: green;
            color: white;
            width: 220px;
            height: 50px;
            cursor: pointer;
            transform: 0.5s;
            &:hover {
                background-color: white;
                color: green;
                transition: 0.5s;
            }
        }
    }

    .add-to-cart{
        width: 150px;
        height: 50px;
        background-color: green;
        box-shadow: 4px 4px 7px rgba(0,0,0,0.2);
        color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
    }
}